.body {
	background: url(images/bluegradbg.jpg) repeat-x fixed;
}

/* Layout */

.whiteblock {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 10px;
	overflow: visible;
	width: 90%;
	margin-left: auto;    margin-right: auto;
}

.mainarea {
	background: url(images/background.jpg) repeat-x scroll;
	margin-left: 170px;
	margin-top: 20px;
	margin-right: 20px;
	text-align: left;
	clear: right;
}

.topbarright {
	color: #333333;	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	float: right;
	width: 400px;
	padding-right: 20px;
		padding-top: 20px;
}

.columnbg {
	background: url(images/columnbg.gif) repeat-y scroll;
}

/* General */

.form {	color: #333333;	font: normal 11.5px/15px Verdana, Arial, Helvetica, sans-serif;	padding: 7px;	border: 1px solid #efefef;}a:link {	color: #113a6e;	text-decoration: none;}a:visited {	color: #113a6e;	text-decoration: none;}a:active {	color: #113a6e;	text-decoration: none;}a:hover {	color: #113a6e;	text-decoration: underline;}.rightphoto {	text-align: right;	border: solid 1 #cccccc;	float: right;	margin-left: 10px;	margin-bottom: 5px;	}

.titlename {	color: #113a6e;	font: 24px/28px Futura, Verdana, Arial, san-serif;	padding-bottom: 5px;}

.header1 {	color: #113a6e;	font: bold 18px/22px Verdana, Arial, Helvetica, sans-serif;	padding-bottom: 5px;}

.header2 {	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 13px;	font-weight: bold;	color: #333333;}

/* Footer */

.footer {	color: #333;
	font: 10px/12.5px Verdana, Arial, Helvetica, sans-serif;
}

.footerline {
	border-top: 1px solid #113a6e;
}

/* Left Nav */

.leftarea {
	background: url(images/leftcolumnbg.jpg) repeat-x scroll;
	float: left;
	margin-right: 20px;
	width: 150px;
	height:  70%;
	text-align: left;
}

.MainNav {	color: #fff;	text-align: right;	padding: 6px 10px;	display: block;	text-decoration: none;
	margin-right: 5px;
	width: 130px;
	height: 20px;
	font: bold 9px/20px Verdana, Arial, Helvetica, sans-serif;
}

.MainNav:link {	color: #fff;
	text-decoration: none;}.MainNav:visited {	color: #fff;
	text-decoration: none;}.MainNav:hover {	color: #fff;	background: url(images/high.jpg) repeat-x scroll;
	text-decoration: none;
	width: 130px;
	height: 20px;}

.MainNavBottom {	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 9px;	text-align: right;	padding: 8px 10px;	font-weight: bold;	display: block;	text-decoration: none;
	width: 130px;
}.text {	color: #333333;	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;}

.table {	color: #333333;	font: normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #efefef;
	padding: 5px;
}.popup {	color: #333333;	font: normal 11.5px/15px Verdana, Arial, Helvetica, sans-serif;	border: 1px solid #ccc;	padding: 10px;	background-color: #fff;	position: relative;}.honoring {	color: #113a6e;	font: bold 12px/15px Verdana, Arial, Helvetica, sans-serif;}

.blueline {
	width: 100%;
	height: 15px;
	background-color: #113a6e;
	padding: 0;
	margin: 0;
}

.whiteline {
	width: 100%;
	height: 1px;
	background-color: #FFF;
	margin: 0;
	padding: 0;
}

.formfield {
	background-color: #efefef;
	color: #9f9f9f;
	font-size: 11px;
	line-height: 13px;
	padding: 5px;
	border: 1px solid #ccc;
}
